@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
  color: #2c3e50;
}

.sidebar {
  position: fixed;
  top: 0px;
  padding-top: 10%;
  background-color: #2c3e50;
  color: #fff;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 10px;
}
.sidebar-header .title{
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sidebar-header .title a{
  text-decoration: none;
  color: #fff;
}

a.nav-link {
  padding-bottom: 5px;
  padding-top: 7px;
  color: #aaa;
}
a.nav-link i{
  font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
  color: #00ACEE;
  border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
  color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
  color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
  color: #CC2127;
}
#contact-list li:hover .fa-rss {
  color: #e74c3c;
}
article .share .facebook:hover {
  color: #43609C;
  border-color: #43609C;
}
article .share .gplus:hover {
  color: #C13929;
  border-color: #C13929;
}

#contact-list-secondary {
  padding-bottom: 10px;
}

.page-header {
  color: #e74c3c;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

article{
  margin-bottom: 40px;
}

.article_body{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

article {
  padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
  color: #f2756a;
}

article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
  color: #e74c3c;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
  padding-top: 15px;
  font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  paadding-top: 30px;
  height: 0;
  overflow: hidden;
}

.ggmap iframe,
.ggmapr object,
.ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col-sm-9 {
  max-width: 650px;
}

.col-sm-9 a {
  text-decoration: underline;
}


table {
  width: auto;
  border-spacing: 0;
  font-size:14px;
}

table th {
  color: #fff;
  padding: 8px 15px;
  background: rgba(34,85,136,0.7);
  font-weight: bold;
  border-left:1px solid #258;
  border-top:1px solid #258;
  border-bottom:1px solid #258;
  line-height: 120%;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius:0 5px 0 0;
  border-right:1px solid #258;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table tr td {
  padding: 8px 15px;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  text-align: center;
}

table tr td:last-child {
  border-right: 1px solid #84b2e0;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table tr {
  background: #fff;
}

table tr:nth-child(2n+1) {
  background: #f1f6fc;
}

table tr:last-child td {
  box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

table tr:hover {
  background: #bbd4ee;
  cursor:pointer;
}

.author_img {
  width: 120px;
  height: 120px;
  float: left;
  margin: 0 10px 20px 0;
}

.clearfix {
  clear: both;
}

.submit_button {
  width: 250px;
  padding: 10px;
  margin: 30px auto;
  font-size: 24px;
  text-decoration: none !important;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #D64555;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
